<color=green>TOS/RULES: </color>

<color=blue>NO SEXISM, RACISM, HOMOPHOBIA, OR ANY OF THE SORT</color>

<color=red>USE YOUR COMMON SENSE PLEASE</color>

<color=green>Thank you and enjoy Fearing Chinchilla!</color>
